{% extends 'base.html' %}
{% block content %}
<table class="border-black container" bgcolor="aqua">
    <tr class="text-white">
        <th>NAME</th>
        <th>COUNTRY</th>
        <th>AGE</th>
        <th>GENDER</th>
    </tr>
    <tr>
        <td>Trevor</td>
        <td>Kenya</td>
        <td>21</td>
        <td>Male</td>
    </tr>
    <tr>
        <td>Cecilia</td>
        <td>Uganda</td>
        <td>25</td>
        <td>Female</td>
    </tr>
    <tr>
        <td>Joel</td>
        <td>Zambia</td>
        <td>23</td>
        <td>Male</td>
    </tr>
    <tr>
        <td>Neema</td>
        <td>South Africa</td>
        <td>19</td>
        <td>Female</td>
    </tr>
</table>
{% endblock %}