{% extends 'base.html' %}
{% block content %}

<h1 class="text-info">Welcome Home</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, laborum.</p>
<h5 class="head">The place to be</h5>
<p class="line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum laborum mollitia velit voluptate.</p>
<table class="work">
    <tr>
        <th>NAME</th>
        <th>COUNTRY</th>
        <th>AGE</th>
        <th>GENDER</th>
    </tr>
    <tr>
        <td>Trevor</td>
        <td>Kenya</td>
        <td>21</td>
        <td>Male</td>
    </tr>
    <tr>
        <td>Cecilia</td>
        <td>Uganda</td>
        <td>25</td>
        <td>Female</td>
    </tr>
    <tr>
        <td>Joel</td>
        <td>Zambia</td>
        <td>23</td>
        <td>Male</td>
    </tr>
    <tr>
        <td>Neema</td>
        <td>South Africa</td>
        <td>19</td>
        <td>Female</td>
    </tr>
</table>

{% endblock %}